@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #f6f4d2;
  color: #f2e9e4;
  scroll-behavior: smooth;
}
.text-color-primary {
  color: #284b63;
}
.navbar {
  background-color: #284b63;
}
.button-toggler {
  background-color: #f2e9e4;
}
.navbar-brand, .nav-link {
  color: #f2e9e4;
  cursor: pointer;
}
.nav-link:hover {
  color: #8d99ae;
}
.header {
  /* The image used */
  background-image: url('../img/adele-de-bruyn-ZFBx9mWbYQs-unsplash.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.description {
  left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description p {
	color: #d9d9d9;
	font-size: 1.3rem;
	line-height: 1.5;
}
.btn-more {
  border: solid 1px #f2e9e4;
  border-radius: 0;
  color: #f2e9e4;
}
.btn-more:hover {
  background-color: #f2e9e4;
  border: solid 1px #284b63;
  color: #284b63;
}
.btn-submit {
  border: solid 1px #284b63;
  border-radius: 0;
  background-color: #284b63;
  color: #f2e9e4;
}
.btn-submit:hover {
  background-color: #f2e9e4;
  border: solid 1px #284b63;
  color: #284b63;
}
.content-wrapper {
  margin: 10px auto;
	padding: 10px 10px 50px 10px;

  position: relative;
}
.content-title {
  color: #284b63;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  margin-bottom: 10px;
}
.card-title, .card-text {
  color: #284b63;
}
.order-wrapper {
  background-color: #cbdfbd;
  padding: 80px;
}
.form-control {
  border-radius: 0;
}
.contact-wrapper {
  background-color: #353535;
}
.contact, .about {
  padding: 50px;
}
.footer {
  padding: 10px;
  text-align: center;
  color: #f2e9e4;
}
.footer a {
  text-decoration: none;
  color: #f2e9e4;
}
.footer a:hover {
  text-decoration: none;
  color: #cbdfbd;
}